.blue-color {
    color: #33abe5;
}

.toeic-item {
    background-color: #fff;
    border-radius: 50px;
    padding: 0 10px 0 0;
    overflow: hidden;
    -webkit-box-shadow: 0 0 15px 0 rgba(0,0,0,.3);
    -moz-box-shadow: 0 0 15px 0 rgba(0,0,0,.3);
    box-shadow: 0 0 15px 0 rgba(0,0,0,.3)
}

.toeic-item-2 {
    margin-top: 15px
}

.toeic-item.toeic-item-2.latest-mini-test {
    display: inline-block;
    vertical-align: top;
    margin-top: 60px;
    padding-right: 40px
}

.toeic-item-1 .link-wrap,.toeic-item-2 {
    border-radius: 50px;
    transition: box-shadow .2s linear
}

.toeic-item-1 .link-wrap:hover,.toeic-item-2:hover {
    -webkit-box-shadow: 0 0 15px 0 rgba(0,0,0,.3);
    -moz-box-shadow: 0 0 15px 0 rgba(0,0,0,.3);
    box-shadow: 0 0 15px 0 rgba(0,0,0,.3)
}

.toeic-item .image {
    display: table-cell;
    vertical-align: middle;
    padding: 10px;
    border-right: 1px solid #ccc
}

.toeic-item .image img {
    border-radius: 50%;
    max-width: 100%
}

.toeic-item .content {
    display: table-cell;
    vertical-align: middle;
    padding: 10px 0 10px 10px
}

.toeic-item .item-title {
    font-size: 15px;
    font-family: roboto-bold;
    line-height: 1.3;
    margin: 0 0 2px
}

.toeic-item .desc {
    font-size: 14px;
    text-transform: uppercase;
    line-height: 1.3;
    margin: 0 0 10px
}

.button {
    display: inline-block;
    padding: 5px 10px;
    min-width: 70px;
    font-size: 12px;
    font-family: roboto-bold;
    background-color: #33abe5;
    border-radius: 20px;
    color: #fff;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase
}


.button:hover {
    color: #fff;
    text-decoration: none;
    background-color: #309ace
}

.toeic-item.toeic-item-1 {
    position: relative;
    overflow: visible;
    padding: 0
}

.toeic-item.toeic-item-1 .image {
    border: 0
}

.toeic-item.toeic-item-1 .content {
    padding-left: 10px
}

.toeic-item.toeic-item-1 .item-title {
    font-size: 15px;
    color: #333
}

.toeic-item.toeic-item-1 a,.toeic-item.toeic-item-2 a {
    text-decoration: none;
    display: block
}

.toeic-item.toeic-item-2 {
    padding: 8px 10px 10px 30px
}

.toeic-item.toeic-item-2 .calendar {
    float: left;
}

.calendar {
    position: relative;
    width: 54px;
    height: 61px;
    background: url('./calendar.webp') no-repeat;
    background-size: cover;
}

.calendar .year {
    font-size: 12px;
    color: #fff;
    top: 4px;
}
.calendar .year, .calendar .month, .calendar .date {
    position: absolute;
    font-family: roboto-bold;
    left: 50%;
    transform: translateX(-50%);
}

.calendar .month {
    font-size: 14px;
    top: 42px;
}
.calendar .month, .calendar .date {
    color: #666;
}
.calendar .year, .calendar .month, .calendar .date {
    position: absolute;
    font-family: roboto-bold;
    left: 50%;
    transform: translateX(-50%);
}

.calendar .date {
    font-size: 20px;
    top: 20px;
}
.calendar .month, .calendar .date {
    color: #666;
}
.calendar .year, .calendar .month, .calendar .date {
    position: absolute;
    font-family: roboto-bold;
    left: 50%;
    transform: translateX(-50%);
}

.info {
    display: block;
    padding: 3px 25px 3px 12px;
    min-width: 111px;
    background-color: #33abe5;
    color: #fff;
    font-size: 15px;
    font-family: roboto-bold;
    border-radius: 40px
}

.info span {
    margin-right: 10px
}

.info.info-time {
    background-color: #7bd7b1;
    margin-top: 3px
}

.toeic-item.toeic-item-1 .content .status-label {
    top: 55px;
    right: 10px;
    width: 42px;
    height: 35px
}

.status-label {
    display: block;
    width: 32px;
    height: 32px;
    background-color: #ed1e24;
    color: #fff;
    text-transform: uppercase;
    font-family: roboto-bold;
    font-size: 14px;
    border-radius: 50%;
    text-align: center;
    padding: 8px 0
}



@media only screen and (max-width: 767px) {
    .toeic-item {
        max-width: 290px;
        margin-left: auto;
        margin-right: auto;
        -webkit-box-shadow: 0 0 15px 0 rgba(0,0,0,.3);
        -moz-box-shadow: 0 0 15px 0 rgba(0,0,0,.3);
        box-shadow: 0 0 15px 0 rgba(0,0,0,.3)
    }

    .toeic-item.toeic-item-1,.toeic-item.toeic-item-2 {
        max-width: 240px
    }
}

@media only screen and (min-width: 992px) {

    .toeic-item.toeic-item-2 .content .status-label {
        position: absolute;
        right: 40px;
        top: 55%;
        margin-top: -20px
    }

    .toeic-item .content {
        padding-left: 20px
    }
}

@media (min-width:320px)  { 
    /* smartphones, iPhone, portrait 480x320 phones */
    .toeic-item.toeic-item-2 .content .status-label,.toeic-item.toeic-item-1 .content .status-label {
        position: absolute;
        right: 0px;
        top: 55%;
        margin-top: -20px
    }

    .minitest {
        margin-right: 0px;
        margin-left: 0px;
    }
}
@media (min-width:481px)  { 
    /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
    .toeic-item.toeic-item-2 .content .status-label,.toeic-item.toeic-item-1 .content .status-label {
        position: absolute;
        right: 0px;
        top: 55%;
        margin-top: -20px
    }

    .minitest {
        margin-right: 0px;
        margin-left: 0px;
    }
}

@media (min-width:1281px) { /* hi-res laptops and desktops */ 
    .toeic-item.toeic-item-2 .content .status-label,.toeic-item.toeic-item-1 .content .status-label {
        position: absolute;
        right: 0px;
        top: 55%;
        margin-top: -20px
    }

    .minitest {
        margin-right: 0px;
        margin-left: 0px;
    }
}