<ion-header>
    <ion-toolbar color="danger">
        <ion-buttons slot="start">
            <ion-back-button (click)="backButton()"></ion-back-button>
        </ion-buttons>
        <ion-title>
            Hoàn thành đoạn văn
        </ion-title>
    </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
    <div *ngIf="baiTests" [@fadeInOut-2]>
<div class="text-center header-quiz text-white font-roboto-b">
    <div class="">
        <span class="ng-tns-c160-1">{{indexCauHoi}}/{{this.totalCauHoi + 1}}</span>
        <span class="ng-tns-c160-1">
            {{hours}} : {{minute}} : {{seconds}}
        </span>
        <span class="ng-tns-c160-1">{{score | number:'1.0-0'}}/100</span>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <div class="toeic-item">
            <!-- <div class="vn-tit-question"><strong class="cl5 fl">Question {{indexCauHoi + 1}} : </strong></div> -->
            <div class="question-content" id="question-content">
                <div class="content-quiz text-center">
                    <div style="text-align: left;">
                        <span [innerHTML]="cauHoi"></span>
                    </div>
                </div>
                <br />
                <div class="vn-box-answer">
                    <div *ngIf="checkUserChooseAnswer" class="radio-button">
                        <div *ngFor="let item of arrayQuestionAnswer; let i = index">
                            <strong>{{indexCauHoi + 1}}.{{i + 1}}. </strong><span [innerHTML]="item.cauHoi"></span>
                            <label (click)="onChane(i + 'a')" class="container1">
                                <input type="radio" name="radio{{i}}" />
                                <span [innerHTML]="item.cauA"></span>
                                <span class="checkmark"></span>
                            </label>
                            <label class="container1" (click)="onChane(i + 'b')">
                                <input type="radio" name="radio{{i}}" />
                                <span [innerHTML]="item.cauB"></span>
                                <span class="checkmark"></span>
                            </label>
                            <label class="container1" (click)="onChane(i + 'c')">
                                <input type="radio" name="radio{{i}}" />
                                <span [innerHTML]="item.cauC"></span>
                                <span class="checkmark"></span>
                            </label>
                            <label class="container1" (click)="onChane(i + 'd')">
                                <input type="radio" name="radio{{i}}" />
                                <span [innerHTML]="item.cauD"></span>
                                <span class="checkmark"></span>
                            </label>
                        </div>
                    </div>
                    <div *ngIf="!checkUserChooseAnswer" class="radio-button">
                        <div *ngFor="let item of arrayQuestionAnswer; let i = index">
                            <strong>{{indexCauHoi + 1}}.{{i + 1}}. </strong><span [innerHTML]="item.cauHoi"></span>
                            <label class="container1">
                                <input type="radio" [disabled]="true" [checked]="isVisible(i + 'a')" name="radio{{i}}" />
                                <span [innerHTML]="item.cauA"></span>
                                <span class="checkmark"></span>
                            </label>
                            <label class="container1">
                                <input type="radio" [disabled]="true" [checked]="isVisible(i + 'b')" name="radio{{i}}" />
                                <span [innerHTML]="item.cauB"></span>
                                <span class="checkmark"></span>
                            </label>
                            <label class="container1">
                                <input type="radio" [disabled]="true" [checked]="isVisible(i + 'c')" name="radio{{i}}" />
                                <span [innerHTML]="item.cauC"></span>
                                <span class="checkmark"></span>
                            </label>
                            <label class="container1">
                                <input type="radio" [disabled]="true" [checked]="isVisible(i + 'd')" name="radio{{i}}" />
                                <span [innerHTML]="item.cauD"></span>
                                <span class="checkmark"></span>
                            </label>
                        </div>
                    </div>
                </div>
                <div *ngIf="show" [@fadeInOut-2] class="content-quiz11">
                    <span class="color-orange"><strong>Gợi ý :</strong></span>
                    <div *ngFor="let item of arrayQuestionAnswer; let i = index">
                        <strong>{{indexCauHoi + 1}}.{{i + 1}}. </strong>
                        <p [innerHTML]="item.goiY"></p>
                    </div>
                </div>
                <div *ngIf="checkGiaiThich" [@fadeInOut-2] class="content-quiz11">
                    <span class="color-orange"><strong>Giải thích :</strong></span><br />
                    <span [innerHTML]="dichDoanVan1"></span>
                    <div *ngFor="let item of arrayQuestionAnswer; let i = index">
                        <strong>{{indexCauHoi + 1}}.{{i + 1}}. </strong>
                        <span [innerHTML]="item.goiY"></span>
                        <p [innerHTML]="item.transcript"></p>
                        <p [innerHTML]="item.giaiThich"></p>
                        <strong>Đáp án cần chọn là {{item.cauDung | titlecase}}</strong>
                    </div>
                </div>
            </div>

            <div class="vn-emoticon vn-emoticon5 emotion_3">
                <div *ngIf="showInCorrect" [@fadeInOut-2] class="vn-box-ketqua vn-box-ketqua1">
                    <h3 class="color-red">Sai rồi</h3>
                </div>

                <div *ngIf="showCorrect" [@fadeInOut-2] class="vn-box-ketqua vn-box-ketqua2">
                    <h3 class="color-green">Wow đúng rồi</h3>
                </div>
            </div>

            <p class="text-center mg-top-20">
                <ion-button *ngIf="!checkGoiY" (click)="clickGoiY()" color="primary">Gợi ý</ion-button>
                <ion-button *ngIf="checkGoiY" (click)="clickXemLoiGiai()" color="primary">Xem lời giải</ion-button>
                <ion-button *ngIf="checkOpenModal()" color="warning" (click)="openModal(template)">Câu tiếp theo</ion-button>
                <ion-button *ngIf="checkNextCauHoi()" color="warning" (click)="nextCauHoi()">Câu tiếp theo</ion-button>
                <ion-button *ngIf="checkKiemTra()" color="warning" (click)="kiemTra()">Kiểm tra</ion-button>
                <!-- <a *ngIf="!checkGoiY" style="margin-bottom: 5px;" (click)="clickGoiY()" class="cursor-pointer btn-white-border-green btn-action visiable">
                    <fa-icon style="margin-right: 5px;" [icon]="faLightbulb"></fa-icon>
                    <span>Gợi ý</span>
                </a>
                <a *ngIf="checkGoiY" style="margin-bottom: 5px;" (click)="clickXemLoiGiai()" class="cursor-pointer btn-white-border-green btn-action visiable">
                    <fa-icon style="margin-right: 5px;" [icon]="faWindowMaximize"></fa-icon>
                    <span>Xem lời giải</span>
                </a>
                <a *ngIf="checkKiemTra()" (click)="kiemTra()" style="background-color: green;" class="false cursor-pointer text-white btn-action visible">
                    Kiểm tra
                    <fa-icon [icon]="faCheckCircle"></fa-icon>
                </a>
                <span *ngIf="checkOpenModal()">
                    <a (click)="openModal(template)" class="false cursor-pointer text-white btn-green btn-action visible">
                        Câu tiếp theo
                        <fa-icon [icon]="faArrowAltCircleRight"></fa-icon>
                    </a>
                </span>
                <span *ngIf="checkNextCauHoi()">
                    <a (click)="nextCauHoi()" class="false cursor-pointer text-white btn-green btn-action visible">
                        Câu tiếp theo
                        <fa-icon [icon]="faArrowAltCircleRight"></fa-icon>
                    </a>
                </span> -->
            </p>
        </div>
    </div>
</div>
</div>
<loading *ngIf="isLoading">{{ isLoading }}</loading>
<ng-template #template>
    <div class="header_modal modal-header">
        <h4 class="modal-title pull-left">Bạn chưa trả lời câu hỏi này?</h4>
    </div>
    <div class="modal-body">
        <div class="body_fb">
            <p>Bạn muốn bỏ qua câu hỏi này?</p>
            <p class="text-center">
                <ion-button (click)="nextCauHoi()" color="success">Đồng ý</ion-button>
                <ion-button (click)="modalRef.hide()" color="light">Hủy bỏ</ion-button>
            </p>
        </div>
    </div>
</ng-template>
</ion-content>